Generic and Collection Demo/README.md
Generic and Collection Demo/.vscode/settings.json
Generic and Collection Demo/bin/Demo_Practice.class
Generic and Collection Demo/bin/Examine.class
Generic and Collection Demo/src/Demo_Practice.class
Generic and Collection Demo/src/Demo_Practice.java
Generic and Collection Demo/src/Examine.class
